* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, snas-series
}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background url(background.jpg);
   animation: gradientBG 15s ease infinite;
   overflow: hidden;
}

@keyframes gradientBG {
   

.glass-container {
   position: realtive;
   width 380px;padding: 40px;
   border-radius: 20px; backdrop-filter: blur(15px);
   background: rgba(255, 255, 255, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.4);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
   z-index: 10, overflow: hidden;
}
